@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 18 18 18;
  };

  body {
    position: absolute;
    color: #121212;
  }

  li {
    display: inline;
    float: right;
    text-align: center;
  }

  .navbtn {
    display: none;
  }
  /* ul {
    background-color: #090c09;
  } */

  .nocursor {
    cursor: none;
  }

  .custom-cursor {
    position: fixed;
    top: -30px;
    left: -30px;
    pointer-events: none;
    z-index: 10;
  }
  
  .glowing-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, #432371 , #FAAE7B);
    mix-blend-mode: screen;
    opacity: 0.6;
    transition: top 0.3s, left 0.3s;
    filter: blur(11px);
    /* z-index: 10; */
  }

  /* Click on cursor effect */
  .custom-cursor.clicking {
    position: fixed;
    top: -15px;
    left: -15px;
    pointer-events: none;
    z-index: 10;
  }

  .glowing-circle.clicking {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to top right, #432371 , #FAAE7B);
    mix-blend-mode: screen;
    opacity: 1;
    transition: top 0.3s, left 0.3s;
    filter: blur(11px);

  }

  .ontop {
    position: relative;
    z-index: 9999;
  }

  /* Slider */
  .slider-container {
    width: 70%;
    height: 50%;
    position: relative;
    top: 15%;
    left: 15%;
  }

  .pageRedirect {
    position: absolute;
    width: 25rem;
    left: calc(50% - 12.5rem);
    top: calc(50% - 6rem)
  }

  .prev {
    position: absolute;
    left: 0;
    height: 10rem;
    top: calc(50% - 7.5rem);
  }

  .next {
    position: absolute;
    right: 0;
    height: 10rem;
    top: calc(50% - 7.5rem);
  }

  .dot-container {
    position: relative;
    width: 102px;
    left: calc(50% - 51px);
    top: 100%;
    align-content: center;
    cursor: none;
  }

  .dot {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 10px;
    border-radius: 50%;
    display: inline-block;
    cursor: none;
  }
  
  .doodlearrow {
    transform: scale(-1);
    rotate: 20deg;
  }

  .theImage {
    visibility: hidden;
    pointer-events: none;
  }

  .theAva:hover ~ .theImage{
      visibility: visible;
  }

  /* Submission form */

  .inputForm {
    margin: 5px;
  }
  .inputForm::placeholder {
    color: #c9c9c9;
  }

  .submitButton {
    width: 150px;
    left: calc(50% - 75px);
  }

  input, select, textarea{
    color: #faf8ff;
  }

}

@media only screen and (max-width: 800px) {
  .navbtn {
    display: inline;
  }

  .hide {
    display: none;
  }

  .show {
    display: inline;
  }
}